.my-btn {
  transition: 0.2s all ease-in-out;
  border-radius: 6px;
  background-color: transparent;
  border: 1px block solid;
  text-transform: uppercase;
}

.my-btn:hover {
  border: 1px rgb(222, 48, 48) solid;
  color: red;
}
